* {
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

.form, .link, .books-container {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input {
    padding: 5px;
}

.books-container div {
    border-bottom: 1px solid #ccc;
}

.bold {
    font-weight: bold;
}

a {color:#00f;}         /* Unvisited link  */
a:visited {color:#00f;} /* Visited link    */
a:hover {color:#00f;}   /* Mouse over link */
a:active {color:#00f;} 
